appdirs==1.4.3
boto3==1.4.4
botocore==1.5.56
certifi==2017.4.17
chalice==0.8.2
chardet==3.0.3
click==6.6
docutils==0.13.1
idna==2.5
jmespath==0.9.3
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
requests==2.16.4
s3transfer==0.1.10
six==1.10.0
typing==3.5.3.0
urllib3==1.21.1
virtualenv==15.1.0
